#login{
	margin-top: 60px;
}

table td{
	text-align: center;
}
#login h1{
	padding: 10px 0;
}

#menu{
	margin-top: 50px;
}
#menu ul{
	list-style: decimal-leading-zero;
}
#menu li{
	padding: 20px 0;
}
#list{
	margin: 20px 0;
}
.info{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.info h5{
	float: left;
	margin-right: 20px;
}
#addTaskDialog .col-md-6{
	padding-left: 0;
}

#addTaskDialog .col-md-6:nth-child(even){
	padding-right: 0;
}

#task-table img, #single-log-table img{
	width: 30px;
	height: 30px;
}

#task-table span,, #single-log-table span{
	width: 100%;
	height: 100%;
	display: block;
}

.uploadIcon{
	width: 150px;
	height: 150px;
	display: block;
}
input[type=file] {
	margin: 5px 0;
}
.mutiplchecbox{
	width: 25%;
	height: 30px;
	display: inline-block;
}
input[type=checkbox] {
	vertical-align: top;
	margin-right: 3px;
}
#settime{
	margin: 10px 0;
	position: relative;
}
#settime input{
	text-align: center;
}
#hourslist{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}
#hourslist li{
	width: 50px;
	float: left;
	border-bottom: 1px dashed gray;
	margin: 0 10px;
	text-align: center;
}
#hourslist span{
	float: right;
	vertical-align: baseline;
	top: 3px;
	cursor: pointer;
}
#hourslist span:hover{
	color: red;
}
#c_box{
	height: 300px;
	overflow-y: scroll;
	border: 3px solid #ccc;
	padding: 5px;
}











