#login{
	margin-top: 60px;
}

#login h1{
	padding: 10px 0;
}

#menu{
	margin-top: 50px;
}
#menu ul{
	list-style: decimal-leading-zero;
}
#menu li{
	padding: 20px 0;
}
#list{
	margin: 20px 0;
}
.info{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}
.info h5{
	float: left;
	margin-right: 20px;
}
#addTaskDialog .col-md-6{
	padding-left: 0;
}

#addTaskDialog .col-md-6:nth-child(even){
	padding-right: 0;
}

#task-table img{
	width: 30px;
	height: 30px;
}

.uploadIcon{
	width: 150px;
	height: 150px;
}