<div class="modal fade" id="addTaskDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加任务</h4>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group">
                            <label>消息标题</label>
                            <input type="text" class="form-control" name="title" placeholder="消息标题">
                        </div>
                        <div class="form-group">
                            <label>消息内容</label>
                            <input type="text" class="form-control" name="title" placeholder="消息标题">
                        </div>
                        <div class="form-group">
                            <label>上传图标</label>
                            <input type="text" class="form-control" name="image" placeholder="消息标题">
                        </div>
                        <div class="form-group">
                            <label>上传文件</label>
                            <input type="text" class="form-control" name="file" placeholder="消息标题">
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                <label>推送国家</label>
                                <select name="country" class="form-control">
                                    <option value="">不选择</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>推送语言</label>
                                <select name="language" class="form-control">
                                    <option value="">不选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                <label>推送时间</label>
                                <input type="text" id="push_time" class="form-control" name="push_time" placeholder="推送时间">
                            </div>
                            <div class="col-md-6">
                                <label>是否重复推送</label>
                                <input type="checkbox" class="form-control" name="repush">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                <label>推送数目</label>
                                <input type="number" min="500" max="200000" step="5" value="500" class="form-control" name="push_num">
                            </div>
                            <div class="col-md-6">
                                <label>是否设置推送优先</label>
                                <input type="checkbox" class="form-control" name="priority">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>