<div class="container">
    <h1>Push Log</h1>
    <pushnav></pushnav>
    <div class="row">
        <div class="col-md-6">
        	<h4>单独推送记录 <span>共{{singleLogs.length}}条</span></h4>
            <table class="table table-striped table-bordered table-hover table-condensed" id="single-log-table">
                <thead>
                    <tr>
                        <td>推送任务标题</td>
                        <td>操作人</td>
                        <td>操作时间</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in singleLogs">
                        <td>{{s.title}}</td>
                        <td>{{s.operator}}</td>
                        <td>{{s.datetime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
        	<h4>重复推送记录 <span>共{{repushlogs.length}}条</span></h4>
            <table class="table table-striped table-bordered table-hover table-condensed" id="single-log-table">
                <thead>
                    <tr>
                        <td>推送任务标题</td>
                        <td>操作人</td>
                        <td>操作时间</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in repushlogs">
                        <td>{{r.title}}</td>
                        <td>{{r.operator}}</td>
                        <td>{{r.datetime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
