<div class="container">
    <h1>Push Pool</h1>
    <pushnav></pushnav>
    <div id='settime' class="row">
        <h4>添加推送时间</h4>
        <input type="number" max="23" min="0" ng-model="hour">
        <button ng-click="addHour()">+</button>
        <ul id="hourslist">
            <li ng-repeat="h in hours track by $index" ng-show="h==1">{{$index}}点<span class="glyphicon glyphicon-remove" ng-show="h==1" ng-click="deleteHour($event)" hid="{{$index}}"></span></li>
        </ul>
    </div>
    <div class="row">
        <h4>推送池中共有任务
            <span>共{{repush_tasks.length}}条</span>
        </h4>
        <table class="table table-striped table-bordered table-hover table-condensed" id="single-log-table">
            <thead>
                <tr>
                    <td>顺序</td>
                    <td>消息标题</td>
                    <td>图标</td>
                    <td>文件</td>
                    <td>目标国家</td>
                    <td>目标语言</td>
                    <td>推送数目</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in repush_tasks">
                    <td>{{$index + 1}}</td>
                    <td>
                        <span data-toggle="tooltip" data-placement="right" title="{{t.content}}">{{t.title}}</span>
                    </td>
                    <td>
                        <img ng-src="{{t.image}}">
                    </td>
                    <td><a target="_blank" ng-href="api/download.php?filepath={{t.file}}">链接地址</a>
                    </td>
                    <td>{{t.country}}</td>
                    <td>{{t.language}}</td>
                    <td>{{t.push_num}}</td>
                    <td>
                        <button class="btn btn-info" tid={{t.id}} title="{{t.title}}" ng-click="stick($event)">置顶</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
